<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.moreau_oenologie.android">

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/launchermoro_round"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/launchermoro_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".Ajout" />
		<activity android:name=".Conversion" />
		<activity android:name=".Sulfitage" />
		<activity android:name=".Login" />
		<activity android:name=".SignUp"></activity>
	</application>

</manifest>